@font-face {
    font-family: Sudo;
    src: url(../fonts/sudo/Sudo.ttf);
}
@font-face {
    font-family: Pacifico;
    src: url(../fonts/pacifico/Pacifico.ttf);
}
@font-face {
    font-family: Merienda;
    src: url(../fonts/merienda/Merienda-Regular.ttf);
}
@font-face {
    font-family: Baloo;
    src: url(../fonts/baloo/BalooPaaji-Regular.ttf);
}

.font-personal { font-family: Pacifico; }
.font-clear { font-family: Baloo; }

div#footer {
    border-top: solid 2px black;
    color: #555;
    margin-top: 30px;
    padding: 12px 0px 12px 0px;
    text-align: right;
}

:root {
    --color: #b0ffa7;
}

body {
    color: var(--color);
    background-color: indigo;
}

a:link, a:visited {
    color: var(--color);
}

@media (min-width: 600px) {
    body {
        font-size: 16px;
        margin: 0px auto 0px auto;
        width: 600px;
    }

    div#header {
        border-bottom: 2px solid black;
        margin-bottom: 30px;
        padding: 12px 0px 12px 0px;
    }

    div#logo a {
        color: var(--color);
        float: left;
        font-size: 18px;
        font-weight: bold;
        text-decoration: none;
    }

    div#header #navigation {
        text-align: right;
    }

    div#header #navigation a {
        color: var(--color);
        font-size: 18px;
        font-weight: bold;
        margin-left: 12px;
        text-decoration: none;
    }

    h1 {
        font-size: 24px;
    }

    h2 {
        font-size: 20px;
    }

    div.info {
        color: #555;
        font-size: 14px;
        font-style: italic;
    }

    div#footer {
        font-size: 12px;
    }
}

@media (max-width: 600px) {
    body {
        padding: 5%;
        font-size: 4vw;
    }

    div#logo {
        font-size: 10vw;
        text-align: center;
    }

    div#logo a {
        color: var(--color);
        font-weight: bold;
        text-decoration: none;
    }

    div#header #navigation a {
        color: var(--color);
        font-size: 5vw;
        margin-left: 10vw;
        font-weight: bold;
        text-decoration: none;
    }

    img#enso { display: none; }

    div#footer {
        font-size: 3vw;
    }
}

img {
    width: 100%
}

/* reset */

ul#post-list {
    list-style-type: none;
    padding: 0;
}

a {
    text-decoration: none;
}
